@import url("https://fonts.googleapis.com/css2?family=Magra:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Red+Hat+Text:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Aleo:ital,wght@0,700;1,700&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Aleo:ital@1&display=swap');
* {
    margin: 0;
    padding: 0;
}

.container {
    width: 1440px;
    margin: auto;
}

.wrapper {
    background: url(./assets/main_picture.jpg);
    background-size: contain;
    width: 1440px;
    height: 765px;
}

/* header */

.header {
    background-color: rgba(242, 120, 92, 0.7);
    box-shadow: 0px 4px 4px rgba(13, 96, 111, 0.5);
    height: 90px;
    padding: 0 120px;
    display: flex;
    align-items: center;
}

.logo {
    width: 216px;
}

.logo-ico {
    width: 30px;
    height: 30px;
    margin-right: 6px;
}

.logo-text {
    font-family: "Magra", sans-serif;
    font-size: 32px;
    line-height: 39px;
    color: #ffffff;
}

.link {
    text-decoration: none;
}

.logo-wrapper {
    margin-right: 158px;
}

.nav {
    margin-right: 196px;

    display: flex;
    gap: 42px;
}

.nav-item {
    color: #ffffff;
    font-family: "Red Hat Text", sans-serif;
    font-size: 16px;
    line-height: 21px;
}

.nav-item:hover {
    color: #0d606f;
    transition: 0.5s;
}

.button {
    width: 103px;
    height: 41px;
    background: #0d606f;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 2px 3px rgba(13, 96, 111, 0.16);
    border-radius: 10px;
    border: none;
    font-family: "Red Hat Text", sans-serif;
    font-size: 16px;
    line-height: 21px;
    color: #ffffff;
}

.button:hover {
    cursor: pointer;
    background: #083c46;
    transition: 0.3s;
}

.button:active {
    transform: scale(0.8);
    transition: 0.08s;
}

.search-wrapper {
    border: coral;
    width: 892px;
    margin-top: 32px;
    margin-left: 120px;
}

.title {
    font-family: "Aleo", serif;
    font-size: 80px;
    line-height: 96px;
    color: #ffffff;
}

.description {
    font-family: "Aleo", serif;
    font-style: italic;
    font-size: 20px;
    line-height: 24px;
    color: #ffffff;
    margin-top: 31px;
    margin-bottom: 46px;
}

.search-bar {
    width: 892px;
    height: 95px;
    background: rgba(255, 255, 255, 0.7);
    border-radius: 16px;
    display: flex;
    align-items: center;
}

.button-big {
    width: 228px;
    height: 59px;
    font-size: 24px;
    line-height: 32px;
    box-shadow: none;
}

.input {
    margin-left: 41px;
    margin-right: 45px;
    width: 560px;
    height: 29px;
    background: transparent;
    border: none;

}

.input:focus {
    outline: none;
}

.input::placeholder {

    font-family: "Aleo", serif;
    font-style: italic;
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;
    color: #F2785C;  
}


