@import url("https://fonts.googleapis.com/css2?family=Magra:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Red+Hat+Text:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Aleo:ital,wght@0,700;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Aleo:ital@1&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Aleo&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Red+Hat+Text&display=swap");
* {
    margin: 0;
    padding: 0;
}

.container {
    width: 100%;
    max-width: 1440px;
    margin: auto;
    position: relative;
}

.wrapper {
    background: url(./assets/main_picture.jpg);
    background-size: cover;
    width: 100%;
    max-width: 1440px;
    height: 765px;
}

/* header */

.header {
    background-color: rgba(242, 120, 92, 0.7);
    box-shadow: 0px 4px 4px rgba(13, 96, 111, 0.5);
    height: 90px;
    padding: 0 120px;
    display: flex;
    align-items: center;
    position: relative;
}

.logo {
    width: 216px;
}

.logo-ico {
    width: 30px;
    height: 30px;
    margin-right: 6px;
}

.logo-text {
    font-family: "Magra", sans-serif;
    font-size: 32px;
    line-height: 39px;
    color: #ffffff;
}

.link {
    text-decoration: none;
}

.logo-wrapper {
    margin-right: 158px;
}

.nav {
    margin-right: 196px;
    width: 527px;

    display: flex;
    flex-wrap: wrap;
    row-gap: 10px;
    column-gap: 42px;
}

.nav-item {
    color: #ffffff;
    font-family: "Red Hat Text", sans-serif;
    font-size: 16px;
    line-height: 21px;
}

.nav-item:hover {
    color: #0d606f;
    transition: 0.5s;
}

.button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 103px;
    height: 41px;
    background: #0d606f;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 2px 3px rgba(13, 96, 111, 0.16);
    border-radius: 10px;
    border: none;
    font-family: "Red Hat Text", sans-serif;
    font-size: 16px;
    line-height: 21px;
    color: #ffffff;
}

.button:hover {
    cursor: pointer;
    background: #083c46;
    transition: 0.3s;
}

.button:active {
    transform: scale(0.8);
    transition: 0.08s;
}

/* Burger menu */

.burger {
    display: none;
    cursor: pointer;
}

.burger-container {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100vh;
    transition: 0.5s;
}

.burger-wrapper {
    box-sizing: border-box;
    padding: 8px 15px 30px 8px;
    width: 165px;
    height: 250px;
    background: #f2785c;
    box-shadow: 0px 4px 3px rgba(13, 96, 111, 0.25);
    border-radius: 10px;
    position: absolute;
    top: 43px;
    left: calc(100% - 165px);
}

.hidden {
    left: 7000px;
}

.burger-menu {
    gap: 10px;
    display: flex;
    flex-direction: column;
    margin-left: 36px;
    margin-top: 6px;
}

.cross {
    background-image: url(./assets/cross.svg);
    background-size: contain;
    width: 30px;
    height: 30px;
    cursor: pointer;
}

.search-wrapper {
    border: coral;
    max-width: 892px;
    width: 100%;
    margin-top: 32px;
    margin-left: 120px;
}

.title {
    font-family: "Aleo", serif;
    font-size: 80px;
    line-height: 96px;
    color: #ffffff;
}

.description {
    font-family: "Aleo", serif;
    font-style: italic;
    font-size: 20px;
    line-height: 24px;
    color: #ffffff;
    margin-top: 31px;
    margin-bottom: 46px;
}

.search-bar {
    max-width: 892px;
    width: 100%;
    height: 95px;
    background: rgba(255, 255, 255, 0.7);
    border-radius: 16px;
    display: flex;
    align-items: center;
    padding-right: 18px;
    padding-left: 45px;
    box-sizing: border-box;
    justify-content: space-between;
}

.button-big {
    width: 228px;
    height: 59px;
    font-size: 24px;
    line-height: 32px;
    box-shadow: none;
}

.input {
    width: calc(100% - 228px);
    height: 29px;
    background: transparent;
    border: none;
}

.input:focus {
    outline: none;
}

.input::placeholder {
    font-family: "Aleo", serif;
    font-style: italic;
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;
    color: #f2785c;
}

.stepper {
    padding: 80px 131px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.stepper-wrapper {
    margin-top: 40px;
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.headline {
    color: #f2785c;
    font-family: "Red Hat Text", sans-serif;
    font-weight: 500;
    font-size: 40px;
    line-height: 53px;
}

.step {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
}

.step-icon {
    width: 100px;
    height: 100px;
}

.step-title {
    font-family: "Aleo", serif;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    color: #0d606f;
}

.destinations {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 97px;
    position: relative;
}

.item-img {
    width: 800px;
    height: 800px;
    border-radius: 16px;
}

.slider {
    width: 100%;
    max-width: 1440px;
    height: 800px;
    margin-top: 46px;
    position: relative;
    overflow: hidden;
}

.slider-container {
    display: flex;
    align-items: center;
    position: absolute;
    gap: 60px;
    transition: 0.5s;
}

.slider-nav {
    display: none;
}

.slider-arrow {
    opacity: 0.5;
    pointer-events: none;
}

.arrow-active {
    opacity: 1;
    cursor: pointer;
    pointer-events: initial;
}

.item-text {
    font-family: "Red Hat Text", sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 32px;
    line-height: 42px;
    color: #ffffff;
    position: absolute;
    top: 718px;
    left: 15px;
}

.slider-item {
    position: relative;
    /* height: 810px; */
    cursor: pointer;
}

.circle {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: rgba(242, 120, 92, 0.5);
}

.switcher {
    display: flex;
    margin-top: 24px;
    margin-bottom: 40px;
    gap: 10px;
}

.active {
    background: #f2785c;
    pointer-events: none;
}

.arrow-button {
    margin-right: 10px;
}

.stories {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.image-wrapper {
    margin-top: 80px;
    background: url(./assets/boat.png);
    width: 1442px;
    height: calc(1331px + 93px);
    background-position: 0 93px;
    background-repeat: no-repeat;
}

.stories-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
    margin-top: 40px;
    padding: 40px 120px;
    width: 100%;
    background: rgba(255, 255, 255, 0.7);
    /* border: 1px solid #000000; */
    box-sizing: border-box;
}

.story-img {
    border-radius: 16px;
    filter: drop-shadow(0px 4px 4px #0d606f);
}

.story-title {
    margin-bottom: 24px;
    font-family: "Aleo", serif;
    font-style: normal;
    font-weight: 400;
    font-size: 35px;
    line-height: 42px;
    color: #0d606f;
}

.story {
    display: flex;
    gap: 40px;
}

.stories-container {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.story-description {
    font-family: "Aleo";
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    color: #0d606f;
}

.story-link {
    border: none;
    background: transparent;
    font-family: "Aleo";
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    text-decoration-line: underline;
    color: #0d606f;
    cursor: pointer;
}

.footer {
    height: 61px;
    width: 100%;
    padding-right: 120px;
    box-sizing: border-box;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.footer-wrapper {
    display: flex;
    align-items: center;
    gap: 328px;
}

.footer-text {
    font-family: "Red Hat Text", sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 21px;
    color: #ffffff;
}

.social-networks {
    display: flex;
    gap: 20px;
}

.social-network-ico:hover {
    fill: #f2785c;
    stroke: #f2785c;
    transition: 0.3s;
}

/* popup */

.popup-container {
    position: absolute;
    background: rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.popup {
    padding: 25px 45px;
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 650px;
    height: 660px;
    background: linear-gradient(177.09deg, #ffffff 6.15%, #0d606f 202.69%);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 16px;
    box-sizing: border-box;
}

.popup-small {
    height: 436px;
}

.popup-title {
    font-family: "Aleo";
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 38px;
    color: #0d606f;
}

.button-popup {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    width: 560px;
    height: 56px;
    background: #ffffff;
    box-shadow: 0px 0px 3px rgba(13, 96, 111, 0.08), 0px 2px 3px rgba(13, 96, 111, 0.16);
    border-radius: 10px;
    border: none;
    margin-top: 20px;
    margin-bottom: 30px;
    cursor: pointer;
}

.button-ico {
    width: 24px;
    height: 24px;
}

.button-text {
    font-family: "Red Hat Text";
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 26px;
    color: #0d606f;
}

.button-popup-colored > .button-text {
    color: #ffffff;
}

.button-popup-colored {
    background-color: #1877f2;
    margin-top: 30px;
    margin-bottom: 0px;
    cursor: pointer;
}

.divider-text {
    font-family: "Aleo";
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    color: rgba(13, 96, 111, 0.5);
}

.divider {
    height: 24px;
    width: 100%;
    display: flex;
    align-items: center;
    gap: 9px;
}

.line {
    width: 261px;
}

.inputs-wrapper {
    margin-top: 10px;
    margin-bottom: 25px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    /* padding: 25px 45px; */
}

.input-login {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 560px;
    height: 54px;
    background: #ffffff;
    box-shadow: inset 0px 0px 3px rgba(13, 96, 111, 0.08), inset 0px 2px 3px rgba(13, 96, 111, 0.16);
    border-radius: 10px;
    box-sizing: border-box;
    margin-top: 5px;
    border: none;
}

.label {
    font-family: "Aleo";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #0d606f;
}

.button-dark {
    background: #0d606f;
    margin-top: 25px;
    margin-bottom: 10px;
    cursor: pointer;
}

.button-dark > .button-text {
    color: #ffffff;
}

.link-small {
    font-size: 15px;
    line-height: 18px;
}

.line-big {
    width: 560px;
    margin-top: 21px;
    margin-bottom: 24px;
}

.registration-block {
    display: flex;
    justify-content: center;
}

.registration-text {
    font-family: "Aleo";
    font-style: normal;
    font-weight: 700;
    font-size: 15px;
    line-height: 18px;
    color: rgba(13, 96, 111, 0.5);
    text-shadow: 0px 2px 3px rgba(255, 255, 255, 0.16);
}

.closed {
    display: none;
}

@media (max-width: 1400px) {
    .logo-wrapper,
    .nav {
        margin-right: 0;
    }

    .header {
        justify-content: space-between;
    }

    .image-wrapper {
        width: 100%;
        height: calc(100% + 49px);
    }
    .story-description {
        overflow: hidden;
        display: -webkit-box;
        -webkit-line-clamp: 5;
        -webkit-box-orient: vertical;
    }
}

@media (max-width: 1201px) {
    .container {
        width: 100%;
        max-width: 1200px;
    }

    .wrapper {
        background-image: linear-gradient(180deg, #0d606f 0%, rgba(13, 96, 111, 0) 25.1%),
            url(./assets/main_picture.jpg);
        background-size: cover;
        width: 100%;
        max-width: 1200px;
        height: 600px;
        padding: 0 30px;
        box-sizing: border-box;
    }

    .header {
        background-color: transparent;
        box-shadow: none;
        padding: 43px 0 0;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .logo-ico {
        margin-right: 0px;
    }

    .nav,
    #login {
        display: none;
    }

    .burger {
        display: block;
        background-image: url(./assets/burger.svg);
        background-size: contain;
        width: 32px;
        height: 32px;
    }

    .hidden {
        left: 1600px;
    }
    .step {
        max-width: 250px;
    }

    .step-title {
        text-align: center;
    }

    .slider {
        max-width: 1200px;
    }

    .image-wrapper {
        width: 100%;
        max-width: 1200px;
    }

    .search-wrapper {
        margin-left: 0;
    }
}

@media (max-width: 1001px) {
    .slider-container {
        left: 0px;
        gap: 0px;
    }

    .slider {
        width: 600px;
        height: 420px;
        margin-left: 15px;
        margin-right: 15px;
        margin-bottom: 10px;
    }

    .item-text {
        font-size: 20px;
        line-height: 26px;
        left: 15px;
        top: 8px;
    }

    .switcher {
        position: absolute;
        top: 480px;
        left: calc(100% / 2 - 18px);
        z-index: 1000;
        margin-top: 0;
        margin-bottom: 0;
        gap: 6px;
    }

    .circle {
        width: 8px;
        height: 8px;
    }

    .slider-nav {
        z-index: 1000;
        display: flex;
        width: 550px;
        justify-content: space-between;
        position: absolute;
        top: 280px;
    }

    .arrow-button {
        margin-right: 6px;
        width: 10px;
        height: 10px;
    }

    .item-img {
        width: 600px;
        height: 420px;
    }
}

@media (max-width: 901px) {
    .container {
        width: 100%;
        max-width: 900px;
    }

    .wrapper {
        background-image: linear-gradient(180deg, #0d606f 0%, rgba(13, 96, 111, 0) 25.1%),
            url(./assets/main_picture.jpg);
        background-size: cover;
        width: 100%;
        max-width: 900px;
        height: 400px;
        padding: 0 15px;
        box-sizing: border-box;
    }

    .header {
        background-color: transparent;
        box-shadow: none;
        height: 32px;
        padding: 43px 0 0;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .logo {
        width: 30px;
    }

    .logo-ico {
        margin-right: 0px;
    }

    .logo-text,
    .nav,
    #login {
        display: none;
    }

    .title {
        font-size: 32px;
        line-height: 32px;
        margin-bottom: 20px;
    }

    .logo-wrapper {
        margin-right: 0px;
    }

    .burger {
        display: block;
        background-image: url(./assets/burger.svg);
        background-size: contain;
        width: 32px;
        height: 32px;
    }

    .search-bar {
        width: 100%;
        max-width: calc(680px - 30px);
        height: 48px;
    }

    .button-big {
        width: 92px;
        height: 30px;
        font-size: 11px;
        line-height: 15px;
        box-shadow: none;
    }

    .search-wrapper {
        margin-top: 80px;
        margin-left: 0px;
        margin-right: 0px;
        width: 100%;
        max-width: calc(900px - 30px);
    }

    .input {
        margin-left: 17px;
        margin-right: 17px;
        width: calc(100% - 34px - 9px - 92px);
        height: 12px;
        background: transparent;
        border: none;
    }

    .input::placeholder {
        font-size: 14px;
        line-height: 17px;
    }

    .hidden {
        left: 1200px;
    }

    .stepper {
        padding: 20px 15px 0;
    }

    .stepper-wrapper {
        margin-top: 20px;
        justify-content: space-evenly;
    }

    .headline {
        font-size: 24px;
        line-height: 24px;
    }

    .step {
        gap: 20px;
        max-width: 140px;
    }

    .step:first-of-type {
        align-items: flex-start;
    }

    .step:last-of-type {
        align-items: flex-end;
    }

    .step-title {
        font-size: 16px;
        line-height: 16px;
        text-align: center;
    }

    .step:first-of-type > .step-title {
        text-align: start;
    }
    .step:last-of-type > .step-title {
        text-align: end;
    }

    .destinations,
    .slider {
        margin-top: 20px;
    }

    .item-img {
        width: 600px;
        height: 420px;
    }

    .slider-container {
        left: 0px;
        gap: 0px;
    }

    .slider {
        width: 600px;
        height: 420px;
        margin-left: 15px;
        margin-right: 15px;
        margin-bottom: 10px;
    }

    .item-text {
        font-size: 20px;
        line-height: 26px;
        left: 15px;
        top: 8px;
    }

    .switcher {
        position: absolute;
        top: 430px;
        left: calc(100% / 2 - 18px);
        z-index: 1000;
        margin-top: 0;
        margin-bottom: 0;
        gap: 6px;
    }

    .circle {
        width: 8px;
        height: 8px;
    }

    .slider-nav {
        z-index: 1000;
        display: flex;
        width: 550px;
        justify-content: space-between;
        position: absolute;
        top: 250px;
    }

    .arrow-button {
        margin-right: 6px;
        width: 10px;
        height: 10px;
    }

    .image-wrapper {
        margin-top: 20px;
        background: url(./assets/boat.png);
        max-width: 900px;
        width: 100%;
        background-position: 0 49px;
        background-repeat: no-repeat;
    }

    .story-img {
        width: 200px;
        height: 130px;
    }

    .story-title {
        margin-bottom: 10px;
        font-weight: 700;
        font-size: 16px;
        line-height: 18px;
    }

    .story {
        gap: 20px;
    }

    .story-description,
    .story-link {
        font-size: 14px;
        line-height: 16px;
    }

    .stories-container {
        gap: 15px;
    }

    .stories-wrapper {
        padding: 20px 15px;
        width: 100%;
        margin-top: 20px;
        gap: 10px;
    }

    .story-description {
        overflow: hidden;
        display: -webkit-box;
        -webkit-line-clamp: 5;
        -webkit-box-orient: vertical;
    }

    .footer {
        height: 65px;
        padding-right: 0px;
        justify-content: center;
    }

    .footer-wrapper {
        gap: 0px;
    }

    .footer-text {
        display: none;
    }
}

@media (max-width: 681px) {
    .container {
        width: 100%;
        max-width: 680px;
    }

    .wrapper {
        background-image: linear-gradient(180deg, #0d606f 0%, rgba(13, 96, 111, 0) 25.1%),
            url(./assets/main_picture_mobile.png);
        background-size: cover;
        width: 100%;
        max-width: 680px;
        height: 251px;
        padding: 0 15px;
        box-sizing: border-box;
    }

    .header {
        background-color: transparent;
        box-shadow: none;
        height: 32px;
        padding: 43px 0 0;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .logo {
        width: 30px;
    }

    .logo-ico {
        margin-right: 0px;
    }

    .logo-text,
    .nav,
    #login,
    .description {
        display: none;
    }

    .title {
        font-size: 32px;
        line-height: 32px;
        margin-bottom: 20px;
    }

    .logo-wrapper {
        margin-right: 0px;
    }

    .burger {
        display: block;
        background-image: url(./assets/burger.svg);
        background-size: contain;
        width: 32px;
        height: 32px;
    }

    .search-bar {
        width: 100%;
        max-width: calc(680px - 30px);
        height: 48px;
    }

    .button-big {
        width: 92px;
        height: 30px;
        font-size: 11px;
        line-height: 15px;
        box-shadow: none;
    }

    .search-wrapper {
        margin-top: 20px;
        margin-left: 0px;
        margin-right: 0px;
        width: 100%;
        max-width: calc(680px - 30px);
    }

    .input {
        margin-left: 17px;
        margin-right: 17px;
        width: calc(100% - 34px - 9px - 92px);
        height: 12px;
        background: transparent;
        border: none;
    }

    .input::placeholder {
        font-size: 14px;
        line-height: 17px;
    }

    .hidden {
        left: 700px;
    }

    .stepper {
        padding: 20px 15px 0;
    }

    .headline {
        font-size: 24px;
        line-height: 24px;
    }

    .step {
        gap: 20px;
        max-width: 140px;
    }

    .step:first-of-type {
        align-items: flex-start;
    }

    .step:last-of-type {
        align-items: flex-end;
    }

    .step-title {
        font-size: 16px;
        line-height: 16px;
        text-align: center;
    }

    .step:first-of-type > .step-title {
        text-align: start;
    }
    .step:last-of-type > .step-title {
        text-align: end;
    }

    .destinations,
    .slider {
        margin-top: 20px;
    }

    .item-img {
        width: 480px;
        height: 300px;
    }

    .slider-container {
        left: 0px;
        gap: 0px;
    }

    .slider {
        width: 480px;
        height: 300px;
        margin-left: 15px;
        margin-right: 15px;
        margin-bottom: 10px;
    }

    .item-text {
        font-size: 20px;
        line-height: 26px;
        left: 15px;
        top: 8px;
    }

    .switcher {
        position: absolute;
        top: 319px;
        left: calc(100% / 2 - 18px);
        z-index: 1000;
        margin-top: 0;
        margin-bottom: 0;
        gap: 6px;
    }

    .circle {
        width: 8px;
        height: 8px;
    }

    .slider-nav {
        z-index: 1000;
        display: flex;
        width: 440px;
        justify-content: space-between;
        position: absolute;
        top: 250px;
    }

    .arrow-button {
        margin-right: 6px;
        width: 10px;
        height: 10px;
    }

    .image-wrapper {
        margin-top: 20px;
        background: url(./assets/boat.png);
        max-width: 680px;
        width: 100%;
        background-position: 0 49px;
        background-repeat: no-repeat;
    }

    .story-img {
        width: 200px;
        height: 130px;
    }

    .story-title {
        margin-bottom: 10px;
        font-weight: 700;
        font-size: 16px;
        line-height: 18px;
    }

    .story {
        gap: 20px;
    }

    .story-description,
    .story-link {
        font-size: 14px;
        line-height: 16px;
    }

    .stories-container {
        gap: 15px;
    }

    .stories-wrapper {
        padding: 20px 15px;
        width: 100%;
        margin-top: 20px;
        gap: 10px;
    }

    .story-description {
        overflow: hidden;
        display: -webkit-box;
        -webkit-line-clamp: 5;
        -webkit-box-orient: vertical;
    }

    .footer {
        height: 65px;
        padding-right: 0px;
        justify-content: center;
    }

    .footer-wrapper {
        gap: 0px;
    }

    .footer-text {
        display: none;
    }
}

@media (max-width: 510px) {
    .item-img {
        width: 360px;
        height: 210px;
    }

    .slider-container {
        left: 0px;
        gap: 0px;
    }

    .slider {
        width: 360px;
        height: 210px;
        margin-left: 15px;
        margin-right: 15px;
        margin-bottom: 10px;
    }

    .item-text {
        font-size: 20px;
        line-height: 26px;
        left: 15px;
        top: 8px;
    }

    .switcher {
        position: absolute;
        top: 229px;
        left: calc(100% / 2 - 18px);
        z-index: 1000;
        margin-top: 0;
        margin-bottom: 0;
        gap: 6px;
    }

    .circle {
        width: 8px;
        height: 8px;
    }

    .slider-nav {
        z-index: 1000;
        display: flex;
        width: 350px;
        justify-content: space-between;
        position: absolute;
        top: 129px;
    }
}

@media (max-width: 391px) {
    .container {
        width: 100%;
        max-width: 390px;
    }

    .wrapper {
        background-image: linear-gradient(180deg, #0d606f 0%, rgba(13, 96, 111, 0) 25.1%),
            url(./assets/main_picture_mobile.png);
        background-size: cover;
        width: 100%;
        max-width: 390px;
        height: 251px;
        padding: 0 15px;
        box-sizing: border-box;
    }

    .header {
        background-color: transparent;
        box-shadow: none;
        height: 32px;
        padding: 43px 0 0;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .logo {
        width: 30px;
    }

    .logo-ico {
        margin-right: 0px;
    }

    .logo-text,
    .nav,
    #login,
    .title,
    .description {
        display: none;
    }

    .logo-wrapper {
        margin-right: 0px;
    }

    .burger {
        display: block;
        background-image: url(./assets/burger.svg);
        background-size: contain;
        width: 32px;
        height: 32px;
    }

    .search-bar {
        width: 100%;
        max-width: calc(390px - 30px);
        height: 48px;
    }

    .button-big {
        width: 92px;
        height: 30px;
        font-size: 11px;
        line-height: 15px;
        box-shadow: none;
    }

    .search-wrapper {
        margin-top: 67px;
        margin-left: 0px;
        margin-right: 0px;
        width: 100%;
        max-width: calc(390px - 30px);
    }

    .input {
        margin-left: 17px;
        margin-right: 17px;
        width: calc(100% - 34px - 9px - 92px);
        height: 12px;
        background: transparent;
        border: none;
    }

    .input::placeholder {
        font-size: 14px;
        line-height: 17px;
    }

    .hidden {
        left: 700px;
    }

    .stepper {
        padding: 20px 15px 0;
    }

    .headline {
        font-size: 14px;
        line-height: 19px;
    }

    .step {
        gap: 20px;
        max-width: 111px;
    }

    .step:first-of-type,
    .step:last-of-type {
        max-width: 94px;
    }

    .step:first-of-type {
        align-items: flex-start;
    }

    .step:last-of-type {
        align-items: flex-end;
    }

    .step-icon {
        width: 70px;
        height: 70px;
    }

    .step-title {
        font-size: 10px;
        line-height: 12px;
    }
    .step:last-of-type > .step-title {
        text-align: end;
    }

    .destinations,
    .slider {
        margin-top: 20px;
    }

    .item-img {
        width: 360px;
        height: 210px;
    }

    .slider-container {
        left: 0px;
        gap: 0px;
    }

    .slider {
        width: 360px;
        height: 210px;
        margin-left: 15px;
        margin-right: 15px;
        margin-bottom: 10px;
    }

    .item-text {
        font-size: 20px;
        line-height: 26px;
        left: 15px;
        top: 8px;
    }

    .switcher {
        position: absolute;
        top: 229px;
        left: calc(100% / 2 - 18px);
        z-index: 1000;
        margin-top: 0;
        margin-bottom: 0;
        gap: 6px;
    }

    .circle {
        width: 8px;
        height: 8px;
    }

    .slider-nav {
        z-index: 1000;
        display: flex;
        width: 350px;
        justify-content: space-between;
        position: absolute;
        top: 129px;
    }

    .arrow-button {
        margin-right: 6px;
        width: 10px;
        height: 10px;
    }

    .image-wrapper {
        margin-top: 20px;
        background: url(./assets/boat_mobile.png);
        max-width: 390px;
        width: 100%;
        background-position: 0 29px;
        background-repeat: no-repeat;
    }

    .story-img {
        width: 155px;
        height: 130px;
    }

    .story-title {
        margin-bottom: 10px;
        font-weight: 700;
        font-size: 11px;
        line-height: 13px;
    }

    .story {
        gap: 10px;
    }

    .story-description,
    .story-link {
        font-size: 9px;
        line-height: 11px;
    }

    .stories-container {
        gap: 15px;
    }

    .stories-wrapper {
        padding: 10px 15px;
        width: 100%;
        margin-top: 10px;
        gap: 10px;
    }

    .story-description {
        overflow: hidden;
        display: -webkit-box;
        -webkit-line-clamp: 8;
        -webkit-box-orient: vertical;
    }

    .footer {
        height: 65px;
        padding-right: 0px;
        justify-content: center;
    }

    .footer-wrapper {
        gap: 0px;
    }

    .footer-text {
        display: none;
    }
}

@media (max-width: 390px) {
    .item-img {
        width: 290px;
    }

    .slider {
        width: 290px;
    }

    .slider-nav {
        width: 280px;
    }
}

@media (max-width: 365px) {
    .story-description {
        -webkit-line-clamp: 5;
    }
}
